* {
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Nunito', sans-serif;

  background-attachment: fixed;
}

.form-container {
  width: 400px;
  height: 500px;
  margin: auto;

  background-color: #FFF;
  border-radius: 10px;
  border-top: 5px solid gold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-title {
  height: 80px;
  margin: 0;
  line-height: 100px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

.form input {
  width: 60%;
  margin: 20px auto;
  padding: 0 20px;

  display: block;

  line-height: 35px;
  font-family: 'Nunito', sans-serif;
  border: none;
  border: 2px solid #303030;
  border-radius: 20px;
  outline: none;
  transition-duration: .3s;
}

.form input:focus {
  border-color: gold;
  width: 70%;
  transition-duration: .3s;
}

.form input[type="submit"] {
  margin: 40px auto;
  background-color: #303030;
  color: #FFF;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: rgb(48,75,197);
  border-color: rgb(48,75,197);
}

.error-message {
  color: red;
  text-align: center;
}

.social-bar {
  height: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-bar img{
  width: 40px;
  cursor: pointer;
}

.social-bar img:hover {
  filter: brightness(1.1);
}

.form-separator {
  position: relative;
  margin-top: 50px;
}

.form-separator .separator {
  width: 70%;
  height: 5px;
  margin: 20px auto;
  border: none;
  background: rgb(48,75,197);
}

.form-separator strong {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  text-align: center;
  font-weight: 900;
  background-color: #FFF;

  transform: translate(-50%, -50%);
}

.signin-message {
  font-size: 0.9rem;
  text-align: center;
}

.signin-message a {
  color: #304bc5;
  font-weight: 700;
}